* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box-day {
    width: 150px;
}

.form-label {
    margin-top: 0.5rem;
}

th {
    font-size: 12pt;
}

td {
    font-size: 10pt;
}

@media screen and (max-width: 1400px) {
    /* .box-day {
        width: 150px;
    } */

    th {
        font-size: 10pt;
    }
    
    td {
        font-size: 8pt;
    }
}
